:root {
    --univ-green: #00cc66;
    --univ-grey: #22333b;
}

body {
    margin: 0;
    background-color: black;
    color: #edf2f4;
    text-align: center;
}

.border {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

p {
    margin-top: 10px;
}

h1 {
    height: 30px;
    margin: 0;
}

.green-txt {
    color: var(--univ-green);
}

.pw-options {
    margin-top: 30px;
    display: flex;
    justify-content: left;
}

label {
    margin-right: 6px;
}

input {
    margin-right: 30px;
}

.checkbox {
    margin-left: 0;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: var(--univ-green); 
    color: var(--univ-grey);
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
}

#pw-len {
    width: 40px;
}

.div-line {
    border-bottom: 1px solid var(--univ-grey); 
    height: 0;
    margin: 30px 0;
}

.pw-display {
    display: flex;
    justify-content: space-between;
}

.pw {
    width: 220px;
    font-size: 16px;
    color:  var(--univ-green);
    padding: 5px 10px;
    background-color: var(--univ-grey); 
    text-align: center;
    border-radius: 4px;
    margin: 0;
}